*{
    margin:0;
    padding: 0;
}
body{
    background-color:#ac2547;
    text-align: center;
}
.container{
    height:70vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;  
    display:flex;  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size:8vmin;
    color:#ac2547;
    background-color: #F2E27F;
}
.reset{
    padding: 1rem;
    /* height:5vmin;
    width:10vmin; */
    font-size: 1.2rem;
    border-radius: 1rem;
    border:none;
    background-color: #2EC4B6;
    color:#011627;
}
.reset:hover{
    background-color:#02F2DA;
}
.msg-container{
    height:30vmin;
}
#msg{
    font-size: 5vmin;
    color:#ffffc7;
}
#draw{
    font-size: 5vmin;
    color:#ffffc7;
}
#new-Btn{
    padding:1rem;
    font-size: 1rem;
    background-color:#2EC4B6 ;
    color:#011627;
    border-radius: 1rem;
    border:none;
}
.hide{
    display:none;
}

